<dt id="{{row._id}}" class="timeline-event start-open">
	<a>{{row.title}}</a>
</dt>
<dd class="timeline-event-content" id="{{row._id}}EX">
	<article>
		<h3>{{row.fechat}}</h3>
		<div class="image">
			<img src="{{row.img}}" class="img-background" />
			<img src="{{row.img}}" class="img-center" title="{{row.resume}}. {{row.fecha}}" data-ng-click="ctrl.collection.setDOC(row)"/>
			<ul class="list-unstyled list-tags" id="ul_tag_{{row._id}}">
				<li data-ng-repeat="tag in row.tag">
					<a class="label label-success" href="/story/categoria/{{tag}}">{{tag}}</a>
				</li>
			</ul>
			<ul class="list-unstyled list-fonts">
				<li data-ng-repeat="font in row.font">
					<a class="label label-primary" href="{{font}}" target="_blank">ver {{$index+1}}° referencia</a>
				</li>
			</ul>
			<ul class="list-unstyled list-admin" data-ng-show="ctrl.user.isAdmin()" >
				<li>
					<a class="label label-warning" href="/story/edit/{{row._id}}" target="_blank">
						<i class="fa fa-pencil"></i>
					</a>
				</li>
				<li>
					<a class="label label-warning" data-toggle="modal" data-target="#mdForm">
						<i class="fa fa-map"></i>
					</a>
				</li>
			</ul>
			<a class="label label-danger label-map" target="_blank" data-ng-href="/story/map?tag={{row.tag[row.tag.length-1]}}">
				<i class="fa fa-map"></i>
			</a>
		</div>
		<button class="btn btn-primary btn-xs visible-xs pull-right btn-next" data-ng-click="ctrl.collection.next()">
			<i class="fa fa-arrow-down"></i>
		</button>
	</article>
</dd>