<!--use:_views/m.main-->

<!--define:title-->
{{data:(doc.row)?doc.row.title:"NUEVO"}}
<!--/define:title-->

<!--define:main-->
<section data-ng-controller="storyCtrl as ctrl">
	<div class="page-header">
		<h1>
			<a href="/story">Historia</a>
			<small>{{data:(doc.row)?doc.row.title:"NUEVO"}}</small>
		</h1>
	</div>
	<div class="modal-content">
		<div class="modal-body">
			<div class="form-group">
				<label>Año</label>
				<input type="number" class="form-control" data-ng-model="ctrl.document.getDoc().year" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Mes</label>
				<input type="number" class="form-control" data-ng-model="ctrl.document.getDoc().month" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Día</label>
				<input type="number" class="form-control" data-ng-model="ctrl.document.getDoc().day" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Titulo</label>
				<input type="text" class="form-control" data-ng-model="ctrl.document.getDoc().title" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Resumen</label>
				<input type="text" class="form-control" data-ng-model="ctrl.document.getDoc().resume" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Imagen</label>
				<input type="text" class="form-control" data-ng-model="ctrl.document.getDoc().img" data-ng-disabled="ctrl.document.isReadMode()">
			</div>
			<div class="form-group">
				<label>Fuentes</label>
				<input type="text" class="form-control input_tag" placeholder="Agregar fuente" data-ng-model="ctrl.document.getDoc().fontbk" data-ng-disabled="ctrl.document.isReadMode()" data-ng-keypress="ctrl.document.addFont($event)" />
				<ul class="list-unstyled list-inline">
					<li data-ng-repeat="row in ctrl.document.getDoc().font">
						<span class="label label-default">
							{{row}} 
							<i class="fa fa-close text-danger" data-ng-click="ctrl.document.removeFont($index)" data-ng-show="!ctrl.document.isReadMode()"></i>
						</span>
					</li>
				</ul>
			</div>
			<div class="form-group">
				<label>Tags</label>
				<input type="text" class="form-control input_tag" placeholder="Agregar tag" data-ng-model="ctrl.document.getDoc().tagbk" data-ng-disabled="ctrl.document.isReadMode()" data-ng-keypress="ctrl.document.addTag($event)" />
				<ul class="list-unstyled list-inline">
					<li data-ng-repeat="row in ctrl.document.getDoc().tag">
						<span class="label label-default">
							{{row}} 
							<i class="fa fa-close text-danger" data-ng-click="ctrl.document.removeTag($index)" data-ng-show="!ctrl.document.isReadMode()"></i>
						</span>
					</li>
				</ul>
			</div>
			<div class="form-group">
				<label>Tag Principal</label>
				<select class="form-control" data-ng-model="ctrl.document.getDoc().tag_main" data-ng-disabled="ctrl.document.isReadMode()">
					<option data-ng-repeat="row in ctrl.document.getDoc().tag">{{row}}</option>
				</select>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-ng-click="ctrl.document.create()" data-ng-show="ctrl.document.isCreateMode()" title="ctrl.document.createLog.msg">
				<i class="fa fa-check" data-ng-show="!ctrl.document.createLog.spinner"></i>
				<i class="fa fa-spinner fa-spin" data-ng-show="ctrl.document.createLog.spinner"></i>
			</button>
			<button type="button" class="btn btn-danger" data-ng-click="ctrl.document.delete()" data-ng-show="ctrl.document.isEditMode()" title="ctrl.document.deleteLog.msg">
				<i class="fa fa-trash" data-ng-show="!ctrl.document.deleteLog.spinner"></i>
				<i class="fa fa-spinner fa-spin" data-ng-show="ctrl.document.deleteLog.spinner"></i>
			</button>
			<button type="button" class="btn btn-primary" data-ng-click="ctrl.document.edit()" data-ng-show="ctrl.document.isReadMode()">
				<i class="fa fa-pencil"></i>
			</button>
			<button type="button" class="btn btn-success" data-ng-click="ctrl.document.update()" data-ng-show="ctrl.document.isEditMode()" title="ctrl.document.updateLog.msg">
				<i class="fa fa-check" data-ng-show="!ctrl.document.updateLog.spinner"></i>
				<i class="fa fa-spinner fa-spin" data-ng-show="ctrl.document.updateLog.spinner"></i>
			</button>
		</div>
	</div>
</div>
<!--/define:main-->

<!--define:script-->
	<script type="text/javascript">
		var _document = {{data: JSON.stringify(doc.row)}};
		var instances = {story: ["document"]};
	</script>
	<script type="text/javascript" src="js/story.js"></script>
<!--/define:script-->