<!--use:_views/m.full-->

<!--define:title-->
	Maps
<!--/define:title-->

<!--define:css-->

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<link rel="stylesheet" href="css/story.timeline.css" />
	<link rel="stylesheet" href="css/story2.css" />
	<style>
		#map{
			width: 100%;
			height: 105%;
			left: 0;
		}
	</style>
<!--/define:css-->

<!--define:head-->
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.draw.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/Toolbar.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/Tooltip.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/GeometryUtil.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/LatLngUtil.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/ext/TouchEvents.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/DrawToolbar.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/EditToolbar.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/Control.Draw.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js"></script>
	<script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
<!--/define:head-->

<!--define:main-->
	<canvas id="matrix"></canvas>
	<div id="background"></div>
	<div id="loading">
		<i class="fa fa-spin fa-spinner"></i>
	</div>
	<div id="full" data-ng-app="myApp" data-ng-controller="explainCtrl as ctrl">
		
		<div id="map"></div>
		
		<div id="dvTimeline">
			<div class="bk"></div>
			<div id="timeline" class="timeline-container">
				<div class="timeline-wrapper" data-ng-repeat="year in ctrl.collection.years">
					<h2 class="timeline-time"><span>{{year.label}}</span></h2>
					<dl class="timeline-series" data-ng-repeat="data in year.data">
						<dt id="{{data._id}}" class="timeline-event start-open">
							<a>{{data.title}}</a>
						</dt>
						<dd class="timeline-event-content" id="{{data._id}}EX">
							<h3>{{data.fechat}}</h3>
							<img data-ng-src="{{data.img}}" alt="{{data.resume}}. {{data.fecha}}" title="{{data.resume}}. {{data.fecha}}" data-ng-click="ctrl.collection.setDOC(data)"/>
							<ul class="list-unstyled">
								<li data-ng-repeat="tag in data.tag">
									<a class="label label-success" href="/explain?tag={{tag}}" >{{tag}}</a>
								</li>
								<li data-ng-repeat="font in data.font">
									<a class="label label-primary" href="{{font}}" target="_blank">ver {{$index+1}}° referencia</a>
								</li>
								<li data-ng-show="ctrl.user.isAdmin()">
									<a class="label label-warning" data-toggle="modal" data-target="#mdForm">
										<i class="fa fa-pencil"></i>
									</a>
								</li>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="timeline-wrapper timeline-wrapper-last"></div>
			</div>
		</div>
		
		<div id="myDiagramDiv"></div>
		
		<!--include:story/mdCog-->
		<!--include:story/mdForm-->
		<!--include:story/mdMap-->
		
	</div>
<!--/define:main-->

<!--define:script-->
	<script type="text/javascript" src="js/lib/background.js"></script>
	<script type="text/javascript" src="js/lib/timeliner-2.31/js/timeliner.js"></script>
	<script type="text/javascript" src="js/lib/go-2.1/release/go.js"></script>
	<script type="text/javascript">
		var instances = {explain: ["map","collection","document","go"]};
	</script>
	<script type="text/javascript" src="js/explain.js"></script>
<!--/define:script-->