<div class="modal fade" id="mdSearch">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Busca por palabras o frase específica" data-ng-model="ctrl.collection.fulltext">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-ng-click="ctrl.collection.getTotal()" data-dismiss="modal">Buscar</button>
				</span>
			</div>
		</div>
	</div>
</div>