###########################
#archivo de configuracion##
#para no subir al servidor#
###########################

#dependencias del lado servidor
###############################
node_modules/*

#dependencias de lado cliente
#################
app/frontend/bower_components/*
app/frontend/media/img/blog/*
app/frontend/media/img/product/*

#package-lock
#################
package-lock.json
log.csv