<div class="modal fade" id="modalAll" tabindex="-1">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group">
					<label>Documentos JSON</label>
					<textarea class="form-control" rows="20" data-ng-model="ctrl.document.all"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-ng-click="ctrl.document.upALL()">
					Subir todo
				</button>
			</div>
		</div>
	</div>
</div>