<div class="modal fade" id="modalImport" tabindex="-1">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group">
					<label>URL del servicio</label>
					<input class="form-control" type="text" rows="20" data-ng-model="ctrl.import.uri"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-ng-click="ctrl.import.import()">
					Importar
				</button>
			</div>
		</div>
	</div>
</div>