<!doctype html>
<html>
	<head>
		<!--Metas-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!--Title-->
		<title>Editor</title>
		<!--Base-->
		<base href="/" />
		<!--Favicon-->
		<link rel="shortcut icon" href="/media/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/media/img/favicon/favicon.ico" type="image/x-icon">
		<!--Styles-->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css"/>
		<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css"/>
		<link rel="stylesheet" href="css/wysiwyg.css" />
		<link rel="stylesheet" href="css/www.css" />
	</head>
	<body>
		
		<div class="container-fluid" data-ng-app="myApp" data-ng-controller="wysiwygCtrl as main">
			<input type="checkbox" id="abrir-cerrar" name="abrir-cerrar" value="">
			<label for="abrir-cerrar">&#9776;</label>
			<nav id="nav-main">
				<!--<div class="tree-classic" 
					treecontrol 
					tree-model="main.directory.coll" 
					on-selection="main.directory.changeMode('select',node)" 
					selected-node="main.directory.doc" 
					expanded-nodes="main.directory.expanded"
					options="main.directory.treeoptions">{{node.name}}
				</div>-->
				<br>
				<div data-ng-show="main.directory.doc!=null">
					<button class="btn btn-block btn-xs btn-primary btn-modal" data-toggle="modal" data-target="#mdCONTENT" data-ng-click="main.cargarContenido()">CONTENIDO</button>
					<button class="btn btn-block btn-xs btn-primary btn-modal" data-toggle="modal" data-target="#mdHTML" data-ng-click="main.cargarHTML()">HTML</button>
					<!--<button class="btn btn-block btn-xs btn-primary" data-toggle="modal" data-target="#mdDOM">DOM</button>-->
				</div>
			</nav>
			
			<div id="visualcontent">
				<div class="alert alert-warning alert-ini">
					<p>Seleccione un archivo del menú para iniciar la construcción</p>
				</div>
			</div>
			
			<div class="modal fade" id="mdCONTENT">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<div id="form-dinamyc"></div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-xs btn-success" data-ng-click="main.contenteditor.process()"><i class="fa fa-magic"></i> Refrescar</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="mdHTML">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-4">
									<p class="text-muted">Head</p>
									<div id="contenthead"></div>
								</div>
								<div class="col-md-4">
									<p class="text-muted">Body</p>
									<div id="contentbody"></div>
								</div>
								<div class="col-md-4">
									<p class="text-muted">Javascript</p>
									<div id="contentjs"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-xs btn-success" data-ng-click="main.dom.inverse()">Ingeniería Inversa</button>
						</div>
					</div>
				</div>	
			</div>
			
			<div class="modal fade" id="mdDOM">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<ul class="list-group" id="uiTreedom" ondragover="dragTreedom.over(event)" ondragenter="dragTreedom.enter(event)" ondrop="dragTreedom.drop(event)"></ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="dvModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<table class="table">
								<tbody>
									<tr>
										<th>Elemento</th>
										<td>{{main.node.data.doc.nodeName}}</td>
										<td></td>
									</tr>
									<tr>
										<th>Atributo</th>
										<th>Valor</th>
										<th></th>
									</tr>
									<tr data-ng-repeat="attr in main.node.data.doc.attributes">
										<td><input type="text" class="form-control input-sm" data-ng-model="attr.name"/></td>
										<td><input type="text" class="form-control input-sm" data-ng-model="attr.value"/></td>
										<td class="text-center">
											<button class="btn btn-danger btn-xs" data-ng-click="main.node.methods.removeAttr(attr.name)">
											<i class="fa fa-trash"></i>
											</button>
										</td>
									</tr>
									<tr>
										<td><input type="text" class="form-control input-sm" placeholder="Nuevo atributo.name" data-ng-model="main.node.data.new.attr.name"/></td>
										<td><input type="text" class="form-control input-sm" placeholder="Nuevo atributo.value" data-ng-model="main.node.data.new.attr.value"/></td>
										<td class="text-center">
											<button class="btn btn-success btn-xs" data-ng-click="main.node.methods.pushAttr(main.node.data.new.attr.name,main.node.data.new.attr.value);main.node.data.new.attr.name='';main.node.data.new.attr.value='';">
											<i class="fa fa-check"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<p>TextNode</p>
								<textarea class="form-control input-sm" rows="5" data-ng-model="main.node.data.doc.innerHTML"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success btn-xs" data-ng-click="main.node.methods.save2()"><span class="glyphicon glyphicon-ok"></span></button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="alert-transcend">
				<div class="alert alert-transcend-logger" data-ng-repeat="doc in main.directory.logger.coll" data-ng-show="doc.show" data-ng-class="doc.class">
					<p>
						<i class="fa fa-spinner fa-spin" aria-hidden="true" data-ng-show="doc.spinner"></i>
						{{doc.msg}}
						<span data-ng-click="doc.show=!doc.show" class="glyphicon glyphicon-remove pull-right"></span>
						<br>
					</p>
					<div data-ng-show="doc.error!=null">
						<p>
							<span>Tipo: {{doc.error.type}}</span>
							<br>
							<span>Estado: {{doc.error.status}}</span>
							<br>
							<span>Mensaje: {{doc.error.desc}}</span>
						</p>
					</div>
				</div>
				<div class="alert alert-transcend-logger" data-ng-repeat="doc in main.directory.folder.logger.coll" data-ng-show="doc.show" data-ng-class="doc.class">
					<p>
						<i class="fa fa-spinner fa-spin" aria-hidden="true" data-ng-show="doc.spinner"></i>
						{{doc.msg}}
						<span data-ng-click="doc.show=!doc.show" class="glyphicon glyphicon-remove pull-right"></span>
						<br>
					</p>
					<div data-ng-show="doc.error!=null">
						<p>
							<span>Tipo: {{doc.error.type}}</span>
							<br>
							<span>Estado: {{doc.error.status}}</span>
							<br>
							<span>Mensaje: {{doc.error.desc}}</span>
						</p>
					</div>
				</div>
				<div class="alert alert-transcend-logger" data-ng-repeat="doc in main.directory.file.logger.coll" data-ng-show="doc.show" data-ng-class="doc.class">
					<p>
						<i class="fa fa-spinner fa-spin" aria-hidden="true" data-ng-show="doc.spinner"></i>
						{{doc.msg}}
						<span data-ng-click="doc.show=!doc.show" class="glyphicon glyphicon-remove pull-right"></span>
						<br>
					</p>
					<div data-ng-show="doc.error!=null">
						<p>
							<span>Tipo: {{doc.error.type}}</span>
							<br>
							<span>Estado: {{doc.error.status}}</span>
							<br>
							<span>Mensaje: {{doc.error.desc}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<!--<js>-->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/xml/xml.js"></script>
		<script type="text/javascript" src="bower_components/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/lib/formatting.js"></script>
		<script type="text/javascript" src="js/lib/trascender.bk.js"></script>
		<script type="text/javascript" >
			var app = angular.module("myApp",[]);//"treeControl"
			app.factory("transcend", jotaTranscend);
		</script>
		<script type="text/javascript" src="js/wysiwyg.js"></script>
		<!--</js>-->
		
	</body>
</html>