html,body{
	height: 100%;
	margin: 0;
	overflow: hidden;
}
#full{
	width: 100%;
	height: 100%;
	
	background: url("https://st4.depositphotos.com/3125791/30137/v/600/depositphotos_301377572-stock-video-abstract-blue-motion-waving-dots.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
		
/********/
/*LOADER*/
#background{
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 3;
	opacity: 0.5;
	display: none;
}
#loading{
	position: fixed;
	z-index: 4;
	top: 50%;
	width: 100%;
	text-align: center;
	display: none;
}
#loading i{
	font-size: 100px;
}
		
/******/
/*MAPA*/
#map{
	width: 100%;
	height: 105%;
	position: relative;
	z-index: 1;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
@keyframes fadein {
	from { opacity: 0;}
	to   { opacity: 1;}
}
		
/***********/
/*BUSCADOR*/

#mdCog .modal-content {
	background: black;
	opacity: 0.5;
}
#mdCog .modal-content .form-control{
	background: inherit;
	color: white;
}

/*AUTOCOMPLETAR*/
.ui-autocomplete{
	z-index: 9999;
}
.ui-widget-content{
	background: black;
	opacity: 0.5;
	color: white;
}

/****************/
/*MODAL TEXTAREA*/

#mdMap .modal-lg{
	width: 90%;
}
#mdMap .modal-content{
	background: black;
	opacity: 0.5;
}
#mdMap .modal-content textarea{
	background: inherit;
	height: 500px;
	color: white;
	font-size: 18px;
}

/************************/
/*MODAL MAPA CONCEPTUAL*/

#mdGo .modal{
	padding: 0px;
}
#mdGo .modal-dialog{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#mdGo .modal-content{
	background: inherit;
	height: 100%;
}
#myDiagramDiv{
	width: 100%;
	height: 100%;
}
#lockedGO{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 75px;
	background: black;
	z-index: 999999;
}

/*********/
/*TIMELINE*/
#dvTimeline{
	position: absolute;
	top: 0px;
	left: 25px;
	width: 400px;
	height: 100%;
	z-index: 2;
	display: none;
	overflow: hidden;
	overflow-y: scroll;
}
#timeline{
	position: absolute;
	width: 100%;
	z-index: 4;
	max-width: 400px;
	word-wrap: break-word;
}
.timeline-wrapper-last{
	height: 1000px;
}
.bk{
	position: fixed;
	width: 400px;
	height: 100%;
	background: black;
	opacity: 0.75;
	z-index: 3;
}
.timeline-event-content{
	display: block;
}