article{
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 600px;
	margin:auto;
}
h2{
	font-size: 24px;
	margin:0px;
}
.image{
	height: 300px;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
.img-background{
	height: 100%;
	width: 100%;
	filter: blur(10px);
	position: absolute;
	left: 0;
	-webkit-filter: blur(5px);
}
.img-center{
	height: 100%;
	max-width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	-webkit-filter: blur(0px);
}
.label{
	margin-right: 1px;
	font-size: 9px;
}
.list-tags{
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
}
.list-fonts{
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: right;
}