.timeline-container {
	border-left: 2px solid #ccc;
	margin: 20px auto;
	width: 900px;
}

.timeline-toggle {
	background: #000;
	border-color: #161616;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ccc;
	cursor: pointer;
	float: right;
	font-size: 12px;
	margin-right: 0;
	padding: 3px 5px;
	white-space: nowrap;
}

.timeline-wrapper {
	clear: left;
	float: left;
	margin: 0 0 12px;
	width: 100%;
}

.timeline-wrapper h2 {
	background: url(../js/lib/timeliner-2.31/images/timeline_century_tick.gif) left center no-repeat;
	font-family: Palatino, "Times New Roman", Times, serif;
	cursor: pointer;
	margin: 0 0 10px;
	padding: 4px 4px 4px 20px;
}

.timeline-wrapper h2 span {
	background: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #131313;
	letter-spacing: 0.1em;
	line-height: 1.7em;
	padding: 3px 5px 1px;
}

.timeline-series {
	clear: left;
	float: left;
	margin: 0 12px 0 0;
	padding: 4px 4px 4px 0;
	position: relative;
	width: 100%;
}

.timeline-series dt {
	background: url(../js/lib/timeliner-2.31/images/timeline_decade_tick.gif) left center no-repeat;
	clear: left;
	font-size: 1.6em;
	list-style-type: none;
	line-height: 1.2em;
	margin: 0 0 12px;
	padding: 0 0 0 24px;
}

.timeline-series dt a {
	color: #999;
	cursor: pointer;
}

.timeline-series dt a .closed {
	color: #999;
	font-size: 1em;
	margin-left: 0;
}

.timeline-series dt a .open {
	color: #7DBADF;
}

.timeline-series dt a:hover {
	color: #7DBADF;
}

.timeline-series dd {
	padding-left: 24px;
	width: 100%;
}

.timeline-series dd h3 {
	clear: both;
	font-size: 1.5em;
	margin: 0;
}

.timeline-event-content {
	display: none;
	color: #FFF;
	text-align: justify;
	height: 1000px;
}

.timeline-event-content img {
	width: 100%;
}

.clear {
	clear: both;
}